@charset "utf-8";
/*css document */
*{
    margin: 0%;
    padding: 0%;
}
body {
    font-family: "degular-display", sans-serif;
}

nav {
    background-color: rgb(217, 224, 33);
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: flex-start; /* Cambiado */
    align-items: center;
    font-size: 30px;
    padding: 1% 8%;
}

nav a {
    text-decoration: none;
    color: rgb(122, 105, 206);
    transition: color 0.2s;
    margin-right: 80px; /* Espacio entre enlaces */
}

nav a:last-child {
    margin-right: 0; /* Elimina el margen del último */
}

nav a:hover {
    color: aliceblue;
}
.imagenbaner {
    width: 100%;
    height: auto;
    aspect-ratio: 2294 / 632;
    background-image: url(img/imagenesconpadingcuatro.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}
.imagenpresentacion {
    width: 100%;
    height: auto;
    aspect-ratio: 2294 / 1239;
    background-image: url(img/imagenesconpadingtres.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}
.columnas{
    display: flex;
    align-items: flex-start;
    gap: 200px;
    padding-left: 8%;
    padding-right: 8%;
}
.flecha{
    width: 600px;
    padding-top: 15vh;
}
h1{
    color: rgb(217, 224, 33);
    font-size: 210px;
    font-family: "degular-display", sans-serif;
    font-weight: 200;
}

h2{
    color: rgb(217, 224, 33);
    font-size: 90px;
    font-family: "degular", sans-serif;
font-weight: 200;
font-style: italic;
padding-bottom: 45px;
}
.texto-presentacion {
    padding-top: 80px;      /* Antes estaba en h1 */
    padding-bottom: 40px;   /* Antes estaba en p */
    max-width: 700px;
}

.texto-presentacion p {
    font-size: 19px;
    font-family: "degular-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    /* Quita padding-bottom aquí */
}
  
h3{
    padding-bottom: 20px;
    font-size: 40px;
    color:rgb(213, 220, 13);
    font-family: "degular", sans-serif;
font-weight: 300;
font-style: italic;
}

.infocv{
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 90px;
    min-height: 70vh;
    font-family: "degular-display", sans-serif;
}
  
.infocv> div {
    width: 25%;
}
  
li{
    padding: 8px 0px;
}
.proyectos {
    padding-left: 8%;
}
.proyectos h2 {
    padding: 0;
}

.proyectos h3 {
    padding-top: 0;
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 8%;
    background-color:  rgb(213, 220, 13);
    color: rgb(122, 105, 206);
    font-family:"degular-display", sans-serif;
}
footer ul {
  list-style: none;
  font-size: 16px;
}
footer h5{
    font-size: 18px;
    padding-bottom: 5px;
}
